python-dotenv==1.1.0
requests==2.32.3
Ta-Lib==0.6.4
pandas==2.2.3
mplfinance==0.12.10b0
ccxt==4.4.30
sqlalchemy==2.0.40
jupyter==1.1.1
notebook==7.4.0
pymysql==1.1.1
pytest==8.3.5
curl_cffi==0.10.0
aiohttp_socks==0.10.1
g4f==0.5.6.3
akshare==1.17.16
tqdm==4.67.1
typer==0.15.3
jinja2==3.1.4
json-repair==0.48.0
pinecone
chromadb
httplib2
duckduckgo-search
google-api-python-client
# Development tools
black==24.8.0
pylint